/*Importar las Fuentes*/

@font-face{
    font-family: "TrebuchetMS";
    src: url('../css/fonts/TrebuchetMS.ttf');
    font-weight: normal;
    font-style: normal; 

}

@font-face{
    font-family: "BebasNeue";
    src: url('../css/fonts/BebasNeue.otf');
    font-weight: normal;
    font-style: normal; 

}


@font-face{
    font-family: "WebSymbolsRegular";
    src: url('../css/fonts/websymbols-regular-webfont.eot');
    src: url('../css/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),   
         url('../css/fonts/websymbols-regular-webfont.woff') format('woff'),
         url('../css/fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('../css/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Estilos Generales */

*{
    margin: 0px;
    padding: 0px;
}



body{
    background: url("../css/img/pattern.png");
    
}

.wrap{
    width: 1250px;
    margin: 0px auto;
}
.gear, .icon{
    font-family:  "WebSymbolsRegular";
}

.clearfix{
    float: none;
    clear:both;
}



/*Cabecera*/
#header{
    width: 100%;
    height: 70px;
    background-color: black;
    font-family: "BebasNeue";
    color: white;
}

#logo{
    float: left;
    width: 300px;
    background-color:#3636e4;
    text-align: center;
    margin-top: 8px;
    margin-left: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms;
}

#logo:hover{
    border-radius: 2px;
    color: black;
    background-image: radial-gradient(circle at 50% -20.71%, #be5af5 0, #a04ff4 16.67%, #7944f3 33.33%, #3c3cf2 50%, #0037f1 66.67%, #0034ef 83.33%, #0034ee 100%);

}

#logo .gear{
    display: block;
    float:left;
    font-size: 30px;
    margin-top: 8px;
    margin-left: 26px;

    /*inicio de animacion de la tuerca */
    animation-name: rotate-gear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate-gear{
    from{
       transform: rotateZ(0deg);
    }
    to{
       transform: rotateZ(360deg);
    }
}
 /*Fin de snimacion de la tuerca */

 #logo:hover .gear{
   animation: fromBellow 500ms linear;    
}

@keyframes fromBellow{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(200%);
    }
    100%{
        transform: translateY(0%);
    }
}

#logo h3{
    display: block;
    float: right;
    font-size: 40px;
    margin-top: 5px;
    margin-right: 65px;
    transition: all 300ms;
}

#logo:hover h3{
    animation: fromRight 300ms linear;    
 }

 @keyframes fromRight{
  from{
      transform: translateX(200%);
  }
  to{
      transform: translateX(0%);
  }
}

/*Inicio de MENU2*/

#menu2{
    clear: both;
    width: 68%;
    height: 50px;
    margin-left: 22px;
    background: linear-gradient(to bottom, #b7c9e7 0px, #5a9fd8 100%);
    border: 1px solid #C9C9C9;
    border-radius: 8px;
    box-shadow: 0px 1px 1px #ccc;
    overflow: hidden;

}

#menu2{
    background: url(../css/img/menu2.jpg);   
    
}

#menu2 ul{
    list-style: none;
}

#menu2 ul li{
    float: left;
    line-height: 45px;
    border-right: 1px solid #D6D6D6;
}

#menu2 ul li a{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: white;
}

#menu2 ul li a:hover{
    background: linear-gradient(to bottom, #f2f2f2 0px, #dad9d4 100%);
    animation: showMenu2 10s linear;
}


@keyframes showMenu2{
    from{
        background: linear-gradient(to bottom, #0a0a0a 0px, #444443 100%);
    }
    to{
        
      
    }
}




/*Fin de MENU2*/




#menu {
    float: right;
    height: 70%;
    background: transparent;
}

#menu ul li{
    font-size: 30px;
    display: inline-block;
    margin: 0px 20px 0px 20px;
    letter-spacing: 1px;
    line-height: 70px;
}

#menu ul li a{
    display: block;
    color: white;
    text-decoration: none;
    transition: all 200ms;

}

#menu ul li a:hover{
    color: #3636e4;
    transform: scale(1.2,1.2);

}






/*Banner*/
#banner{
    width: 95%;
    height: 150px;
    border: 10px solid white;
    box-shadow: 0px 0px 2px gray;
    background: url(../css/img/banner.jpg);
    background-position: -200px -200px;
    margin: 20px auto;
    overflow: hidden;
    animation: backBanner 10s linear;
   
}

@keyframes backBanner{
    0%{
        background-position:0px;
    }
    100%{
       background-position: -200px -200px;
    }
}

#banner h1{
   display: block;
   width: 950px;
   font-family: "BebasNeue";
   color: white;
   font-size: 80px;
   font-weight: normal;
   letter-spacing: 4px 3px 2px black;
   text-shadow: 40px;
   margin: 50px auto;
   animation: showText 4s linear;
   text-align: center;
}

@keyframes showText{
    0%{
      transform: translateX(-600)scale(5,5);
      opacity: 1;
    }
    50%{
      transform: translateX(600%)scale(5,5);
      opacity: 1;       
    }
    75%{
        transform: translateX(-600%)scale(5,5);
        text-shadow: none;
        color: transparent;
        opacity: 0;
    }
    100%{
        transform: translateX(0%)scale(1,1);
        text-shadow: 2px 2px 1px black;
        color: white;
        opacity: 1;
    }
}

/*Tarjetas*/

.card {  
    float: left;
    width: 220px;
    height: 330px;   
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #ddd;
    background: white;
    overflow: hidden;
    margin: 20px;
    margin-top: 40px;
    cursor: pointer;
    transition: all 300ms;
}




.card:hover{
  background: black;

}

.card:last-child{
    margin-right: 5px;
}

.card .icon{
    display: block;
    width: 100%;
    height: 130px;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    margin:0px auto;
    transition: all 300ms;

}  
.card:hover .icon{
    font-size: 70px;
    color: #3636e4;
    animation: showIcon 300ms linear;
}

@keyframes showIcon{
    from{
        transform: translateY(-200%);
    }
    to{
        transform: translateY(0%);
    }
}

.card .category{
    width: 100%;
    height: 50px;
    font-family: "TrebuchetMS";
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #3636e4;
    transition: all 300ms;
}

.card:hover .category{
  color: white;
  animation: showCategory 400ms linear;
}

@keyframes showCategory{
    from{
        transform: translateY(-300%);
        color:black  
    }
    to{
        transform: translateY(0%);
        color: white; 
    }
}

.card .description{
    font-family: "TrebuchetMS";
    text-align: center;
    color:#3636e4;
    font-size: 15px;
    transition: all 300ms;
    padding: 20px;
}

.card:hover .description{
  color:white;
  animation: showDescripcion 400ms linear; 
} 

@keyframes  showDescripcion{
    from{
        transform: translateX(-300%);
        color: black; 
    }
    to{
       transform: translateX(0%); 
    }
}


#social{
    height: 300px;
}

#social a{
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*Articulos*/

#social .overlay{
    display: block;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0px 0px 1px #ccc;
    border: 3px solid white;
    box-shadow: 0px 0px 4px #ccc;
    background: #F4F7FE;
    position: absolute;
    padding: 5px;
    margin-left: 70px;
    margin-top: -52px;
    transform: translateX(-80%);
    opacity: 0;
    transition: all 400ms;
}

#social div:hover .overlay{
    opacity: 1;
    transform: translateX(0%);
}
.alerta{
    padding: 5px;
    font-size: 15px;
    color: white;
    background: green;
    box-shadow: 0px 1px 3px #ccc;
    margin-bottom: 15px;
    border-radius: 2px;
}

.alerta-error{
    background: red;
}

.fecha{
    color:black;
    margin-top:10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}



/*CONTENIDO*/
#contenedor{
    width: 100%;
    height: auto;
/*    min-height: 600px;*/
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*BARRA LATERAL*/
#sidebar{
    float:right;
    width: 27%;
    height: auto;
}

.bloque{
    display:block;
    width: 80%;  
    margin: 0px auto;
    margin-bottom: 35px;
    background: white;
    padding: 15px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.3), 0px 3px 7px rgba(0,0,0,0.3), 0px 0px 1px #FFFFFF inset, 0px -3px 2px rgba(0,0,0,0.25) inset; 
}

.bloque h3{
    margin-bottom: 15px;
}


label,
input[type="text"],
input[type="email"],
input[type="password"]{
    display: block;
    width: 95%;
    margin-top:2px;
    margin-bottom: 2px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    padding: 5px;
    margin-bottom: 10px;
}

input[type="button"],
input[type="submit"],
.boton{
    width: 90px;  
    height: 38px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    border-radius: 2px;
    color:white;    
    cursor:pointer;
    padding: 7px;
    background: #300fe9;
    border-color: rgb(6, 7, 71);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(5, 5, 8);   
}

.boton{
    color:white !important;
    text-align: center;
    width: 150px;
    height: 25px;
   
    
}

.color_boton{
    background: #300fe9;
    border: 1px solid #156785;
    border-color: rgb(6, 7, 71);
    border-radius: 5px;
     
}
.boton:hover{
    color: black!important;
}

.color_boton:hover {
    background-color:#00BFFF
}


.boton_buscar:hover{
    color: black!important;
}

.boton_buscar:hover{
    background-color:#00BFFF
}

.boton_entrar:hover{
    color: black!important;
}

.boton_entrar:hover{
    background-color:#00BFFF
}

.boton_reg:hover{
    color: black!important;
}

.boton_reg:hover{
    background-color:#00BFFF
}

.boton_ver:hover{
    color: black!important;
}

.boton_ver:hover{
    background-color:#00BFFF!important
}
.boton_ver{
    text-align: center!important;
}

.boton_aplicar:hover{
    color: black !important;    
}

.boton_aplicar:hover{
    background-color:#00BFFF
}

.boton_aplicar{
    margin-left: 500px;
   
}




/*PRINCIPAL*/
#principal{
    float: left;
    width: 65%;
    height: 1500px;
    background:white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    margin-left: 20px;
    padding: 20px;
    overflow: hidden;    
    background: url(../css/img/principal.jpg);    
    background-repeat: no-repeat;
    background-size: 350%;    
}



.caja{   
    width: 750px;
    height: 270px;
    color:black;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #ddd;
    background: url(../css/img/tarjeta2.jpg);    
    background-repeat: no-repeat;
    background-size: 900px;   
    overflow: hidden;
    margin: 10px;   
    margin-top: 10px;
    cursor: pointer;
    transition: all 300ms;
    border-radius: 25px;
    
}


.caja {
    font-family: "TrebuchetMS";   
    font-size: 15px;   
    transition: all 300ms;
    text-align: center;
    padding: 20px;
    text-align: justify;
    margin-right: 20px; 
    
    
}
.caja:hover{   
    background: url(../css/img/fondoCaja.jpg);
    color: white;
   
}

  



#principal .detalle{
    font-size: 18px;
   font-weight: bold;
 
   
}


#principal h1{
    font-size: 38px;
    color: rgb(19, 18, 18);
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px #ccc;
    font-family: "fajala";
}

#principal h2{
    font-size: 35px;
    color:#300fe9;
    text-shadow: 1px 1px 2px #ccc;
    letter-spacing: 1px;
    font-family: "fajala";
    margin-top: 20px;
    text-align: center;
}

#principal p{
    margin-top: 15px;
}

#principal a{
    color: #333;
}


.caja h2{
    margin-top: 5px !important;
}

.caja:hover h2{
    color:white !important;
    animation: showH2 400ms linear; 
} 

  

@keyframes  showH2{
    from{
        transform: translateX(-50%);
        color: black; 
    }
    to{
       transform: translateX(0%); 
    }
}


.caja:hover .detalle{
    color: white;
    animation: showDetalle 400ms linear;
  }
  
  @keyframes showDetalle{
      from{
          transform: translateY(-50%);
          color:black  
      }
      to{
          transform: translateY(0%);
          color: white; 
      }
  }
  .caja:hover .fecha {
    color: white;
    animation: showfecha 400ms linear;
  }
  
  @keyframes showfecha{
      from{
          transform: translateY(-50%);
          color:black  
      }
      to{
          transform: translateY(0%);
          color: white; 
      }
  }


  
.caja:hover a{
    color: white !important;
    animation: showP 400ms linear;
  }
  
  @keyframes showP{
      from{
          transform: translateY(-50%);
          color: #333; 
      }
      to{
          transform: translateY(0%);
          color: white; 
      }
  }







#ver-todas a{
    display: block;
    border-radius: 2px;
    padding: 15px;
    color:white;
    border: 1px solid #156785;
    cursor:pointer;
    width: 160px;
    margin: 0px auto;
    margin-top:50px;
    background: #300fe9;
    border-color: rgb(6, 7, 71);
    border-radius: 5px; 
    box-shadow: 7px 10px 15px rgb(9, 9, 105); 
}




#blog{
    height: 100px;
    margin-top: 72%;
    line-height: 100px;
    text-align: center;
    transition: all 1s;
    

}

#blog a {
    display: block;
    font-family: "BebasNeue";
    font-size: 40px;
    letter-spacing: 3px;
    color:#00538c;
    text-decoration: none;
    transition: all 1s;
}

#blog:hover{
    background-color: #333;
    border: 10px solid #37bcf9;
    border-radius: 240px;
    box-shadow: 0px 0px 10px gray;
    animation: blink 10s infinite linear;
}
#blog:hover a{
    color:white;
    text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 4px 1px black, 1px 5px 1px black, 1px 6px 1px black;
}

@keyframes blink{
    0%{
        border: 10px solid #37bcf9;
    }
    15%{
        border: 10px solid green;
    }
    30%{
        border: 10px solid yellow;
    }
    45%{
        border: 10px solid orange;
    }
    60%{
        border: 10px solid  red;
    }
    75%{
        border: 10px solid white;
    }
    100%{
        border: 10px solid #37bcf9;
    }
}  



/*Footer*/

#footer{
    width: 100%;
    height: 550px;
    background: black;
    color: white;
    overflow: hidden;
   

}

#footer .wrap > div{
    float: left;
    width: 320px;
    height: 380px;
    margin: 40px;
    text-align: center;
    color: white;
    font-family: "TrebuchetMS";
}

footer a{
    text-decoration: none;
    color: #3636e4;
    transition:  all 300ms;

}

#footer h5{
    display: block;
    background: url('../css/img/pxgray.png'), white;
    height: 45px;
    letter-spacing: 2px;
    text-align: center;
    font-family: "BebasNeue";
    font-size: 35px;
    line-height: 50px;
    color: black;
    border-radius: 6px;
    margin-bottom: 15px;
}

#footer ul{
    text-align: left;
    margin: 20px;
    font-size: 20px;
 }

 #footer ul li{
     margin-top: 10px;
     padding: 5px;
     border-bottom: 1px solid #ccc;
 }

#footer ul  li a {
    display: block;
    height: 40px;
    transition: all 300ms;
}

#footer ul li:hover a{
    padding-left: 40px;
    color: white;
    width: 100%;
}

#footer iframe{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-radius: 5px;
    border: 5px solid white;
    box-shadow: 0px 0px 5px gray;
}
 
#footer img{
    margin-bottom: 45px;   
   
}

#footer #browsers img{
    width: 35px;
    
}






